body {
    background-color: #FFCDB2;
    color: #E5989B;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #6D6875;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
li>a {
    padding: 8px 24px;
}
li {
    list-style-type: none;
}  
a {
    color: #E5989B;
    text-decoration:none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container iframe{
    display: flex;
    justify-content: center;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    flex: 1;
    padding: 10px;
}
h2{
    margin-left:20px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size:35px;
    font-weight: bold;
    text-align: center;
}
p{
    font-family: 'sans serif';
    font-size: 14px;
    padding:10px;
    margin:10px;
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pie{
    height: 200px;
    background-color: #6D6875;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.pie button{
    background-color: #E5989B;
}
#gracias{
    display: block;
}

@media (max-width:600px) {
    .column {
        flex: 100%;
    }
}
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
      display: none;
    }
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
    }
  }